@use '../utils' as *;

.icon {
  background-image: url(/src/images/icons/icon-menu.png);
  background-size: cover;
  background-position: center;
  display: block;

  @include sizing(24px, 24px);
  @include hover(transform, scale(1.2));

  &--menu {
    background-image: url(/src/images/icons/icon-menu.png);
  }

  &--close {
    background-image: url(/src/images/icons/icon-close.png);
  }
  &--twitter {
    background-image: url(/src/images/icons/icon-twitter.png);
    &:hover,
    &:active {
      background-image: url(/src/images/icons/icon-twitter--hover.png);
    }
  }
  &--instagram {
    background-image: url(/src/images/icons/icon-instagram.png);
    &:hover,
    &:active {
      background-image: url(/src/images/icons/icon-instagram--hover.png);
    }
  }
  &--facebook {
    background-image: url(/src/images/icons/icon-facebook.png);
    &:hover,
    &:active {
      background-image: url(/src/images/icons/icon-facebook--hover.png);
    }
  }
}
